# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/

# Home Assistant
.storage/
*.log
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Sync
sync.ffs_*
sync.ffs_db
sync.ffs_lock